<!-- ITEM COMPONENT -->
<div class="item">
    <div class="item-box">
      <div class="left">
        <img class="icon" [src]="estado?.urlImage || ''" />
      </div>
      <div class="right">
        <h2>Inserir Cidade</h2>
  
        <span *ngIf="estado">{{estado.nome?.toLocaleUpperCase()}}</span>
  
        <input #upload name="upload" type="file" multiple class="item__field" (change)="selectFiles(upload)">
  
        <button class="item__btn">
          <a (click)="saveCidade()">Salvar</a>
        </button>
      </div>
    </div>
    <app-loader *ngIf="savingCidade"><h1>Salvando...</h1></app-loader>
  </div>
  <!-- ITEM COMPONENT -->
  