<!-- ITEM COMPONENT -->
<div class="item">
    <ng-content></ng-content>
    <div class="item-box">
      <div class="left">
        <img class="icon" [src]="estado?.urlImage || ''" />
      </div>
      <div class="right">
        <h2>Inserir Cidade</h2>
  
        <h3 *ngIf="estado">{{estado.nome?.toLocaleUpperCase()}}</h3>
  
        <span class="error" *ngIf="errors.nome">{{errors.nome}}</span>
        <input type="text" (change)="validateNome()" [ngClass]="{ng_invalid:!validation.nome}" class="item__field"placeholder="Nome" [(ngModel)]="formData.nome">
  
        <span class="error" *ngIf="errors.populacao">{{errors.populacao}}</span>
        <input #popIn type="number" class="item__field" placeholder="Populacao" [(ngModel)]="formData.populacao"
          (keyup)="validatePopulacao(popIn)" [ngClass]="{ng_invalid:!validation.populacao}">
  
        <button (click)="saveCidade()" class="item__btn" [disabled]="!validation.nome || !validation.populacao">
          <a>Salvar</a>
        </button>
      </div>
    </div>
    <app-loader *ngIf="isSavingCidade">
      <h1>Salvando...</h1>
    </app-loader>
  </div>
  <!-- ITEM COMPONENT -->