.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 2rem;

  input:invalid {
    box-shadow: none;
  }

  .ng_invalid:not(form)  {
    box-shadow:0 0 3px red; /* red */
  }

  .item-box {
    display: flex;
    width: 100%;
    height: 100%;

    .right {
      padding: 2rem 3rem;
      width: 80%;
      margin-left: auto;
      align-self: stretch;
      background-color: $light-green-lighten-5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;

      span {
        margin-bottom: 0rem;
        font-size: 1.1rem;
        font-weight: bolder;
      }
    }

    .left {
      padding: 0 2rem;
      width: 20%;
      display: flex;
      fill: $blue-accent-1;
      align-self: stretch;
      background: $blue-darken-1;
      align-items: center;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;

      .icon {
        width: 100%;
        margin-bottom: 1rem;
      }
    }

    @media only screen and (max-width: $SMALL-DEV) {
      flex-direction: column;
      .right {
        width: 100%;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 0rem;
        padding: 1rem 1rem;
      }
      .left {
        width: 100%;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0rem;
        padding-top: 1rem;
        .icon {
          width: 5rem;
        }
      }
    }
  }

  &__field {
    background-color: rgba($grey-lighten-2, 0.6);
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }

    &.area {
      min-height: 10rem;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-height: 5rem;
    border: 0px solid rgba(0, 0, 0, 0);
    outline: none;
    width: 100%;
    background-color: $green;
    cursor: pointer;
    color: $white;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0;

    > a {
      flex-grow: 1;
      color: white;
      display: flex;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      outline: none;
      text-decoration: none; /* no underline */
    }

    &:hover {
      background-color: rgba($color: $green-darken-2, $alpha: 0.9);
    }
  }

  h2 {
    margin-bottom: 5rem;
    font-size: 2rem;
    font-family: $header-font;
  }

  h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: $header-font;
  }

  button:disabled{
    background-color: $grey-darken-1
  }
}
