.cidades {
  padding: 1rem 3rem;

  &__title {
    display: flex;
    align-items: baseline;
    > h1 {
      display: inline;
      margin-right: auto;
    }
    > span {
      font-size: 1.6rem;
      color: $grey-darken-1;
    }
  }

  .nav-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    > a {
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
      font-size: 1.5rem;
      color: $grey-darken-1;

      &.previous {
        background-color: $grey-lighten-3;
        font-weight: bolder;
        visibility: hidden;
      }

      &.next {
        background-color: $green;
        color: white;
        font-weight: bolder;
        visibility: hidden;
      }

      &.pageNo {
        background-color: $grey-lighten-3;
        border: 1px solid $grey-lighten-1;
        border-right: 0;
      }

      &.selected {
        background-color: #ddd;
        color: $green;
        font-weight: bolder;
      }

      &:hover {
        background-color: #ddd;
        color: $green;
      }

      &:nth-last-child(2) {
        &.pageNo {
          border: 1px solid $grey-lighten-1;
        }
      }

      &.enabled {
        visibility: visible;
      }
    }
  }

  .tbl-btn {
    display: flex;
    justify-content: center;

    .btn-del {
      width: 50%;
      background-color: transparent;

      &:hover {
        transform: scale(1.1);
      }

      .icon {
        fill: $red-accent-3;

        :hover {
          fill: $red-accent-4;
        }
      }
    }

    .btn-edit {
      padding: 0.5rem;
      font-size: 1.5rem;
      background-color: transparent;
      color: $grey-darken-3;

      &:hover {
        transform: scale(1.1);
      }

      .icon {
        width: 2rem;
        height: 2rem;
        fill: $grey-darken-3;
      }
    }
  }

  > table {
    th:last-child,
    td:last-child {
      width: 10%;
    }

    th {
      cursor: pointer;
      &:not(:last-child):hover {
        background-color: rgba($color: $grey-lighten-1, $alpha: 1);
        transform: scaleY(1.05);
      }

      &.clicked {
        background-color: rgba($color: $grey-lighten-1, $alpha: 1);
        transform: scaleY(1.05);
      }
    }
  }

  .btn-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      padding: 1rem 2rem;
      max-width: 80rem;

      &:hover {
        background-color: $red-darken-4;
      }

      &:disabled {
        background-color: $grey-darken-1;
      }
    }
  }
}
