.home {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, $blue-accent-1, $blue-accent-4);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem 1rem;

    @media only screen and (max-width: $SMALL-DEV) {
        flex-direction: column-reverse;
        align-items: center;
    }

    .dropdown {
        width: 30rem;

        &__select {
            z-index: 1;
            padding: 1.5rem;
            border-radius: 4px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.6rem;
            cursor: pointer;
        }

        &__list {
            z-index: 0;
            position: absolute;
            top: -11rem;
            left: 0;
            right: 0;
            border-radius: 4px;
            background-color: $white;
            opacity: 0;
            visibility: hidden;

            transition: all 0.3s;
            &.show {
                opacity: 1;
                visibility: visible;
                top: 0.5rem;
            }

            &-item {
                padding: 1rem;
                font-size: 1.4rem;
                cursor: pointer;

                &:hover {
                    background-color: $grey-lighten-2;
                }
            }
        }

        .icon {
            &.show {
                transform: rotate(180deg);
            }
        }

        .dropdown-hidden {
            position: relative;
            overflow: hidden;
            height: 100vh;
        }
    }

    .image-container {
        width: 20rem;
        > img {
            width: 100%;
            height: auto;
        }
    }
}
