.home {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, $blue-accent-1, $blue-accent-4);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 1rem;

    .dropdown {
        width: 30rem;
        position: relative;

        &__select {
            z-index: 1;
            padding: 1.5rem;
            border-radius: 4px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.6rem;
            cursor: pointer;
        }

        &__list {
            z-index: 0;
            position: absolute;
            top: -110%;
            left: 0;
            right: 0;
            border-radius: 4px;
            background-color: $white;
            opacity: 0;
            visibility: hidden;

            transition: all 0.3s;
            &.show {
                opacity: 1;
                visibility:visible;
                top: 110%;
            }

            &-item {
                padding: 1rem;
                font-size: 1.4rem;
            }
        }

        .icon {
            &.show {
                transform: rotate(180deg);
            }
        }
    }
}
