<div class="home">
    <div class="dropdown">
        <div class="dropdown__select" (click)="showItems()">
            <span class="select">{{selectedValue}}</span>
            <div class="icon" [inlineSVG]="'assets/svg/arrow-down.svg'" [ngClass]="{show:isShowingItems}"></div>
        </div>
        <div class="dropdown-hidden">
            <div class="dropdown__list" [ngClass]="{show:isShowingItems}">
                <div *ngFor="let estado of options; trackBy:trackByFn" class="dropdown__list-item">{{estado.nome}}</div>
            </div>
        </div>
    </div>
</div>